		a:link, a:visited {
			text-decoration: none;
			background-color: #98ff98;
			border: 1px solid black;
			color: black;
			display: block;
			width: 400px;
			text-align: center;
			margin-bottom: 2px;
		}
		a:hover, a:active{
			background-color: lightgreen;
			color:  darkolivegreen;
		}
		section div:nth-child(odd){
			background-color: lightgray;
		}
		section div:nth-child(even){
			background-color: lightblue;
		}
		section div:nth-child(odd):hover{
			background-color: dimgray;
			cursor: pointer;
			color: white;
		}
		section div:nth-child(even):hover{
			background-color: darkblue;
			cursor: pointer;
			color: white;
		}